SLACK_APP_TOKEN=xapp-...
SLACK_BOT_TOKEN=xoxb-...
DIRGE_SLACK_WORKDIR=/path/to/base/repo
DIRGE_BIN=dirge
DIRGE_SLACK_STATE_DIR=../.dirge-slack/<repo-name>
DIRGE_SLACK_ALLOWED_CHANNELS=C123,C456
DIRGE_SLACK_ALLOWED_USERS=U123,U456
DIRGE_SLACK_BASE_BRANCH=main
DIRGE_SLACK_BRANCH_PREFIX=dirge/
DIRGE_SLACK_MAX_TURNS=60
DIRGE_SLACK_TIMEOUT_MINUTES=30
DIRGE_SLACK_SANDBOX=bwrap
DIRGE_SLACK_CHECK_COMMANDS=just qa
DIRGE_SLACK_RAW_LOGS=1
DIRGE_SLACK_PROVIDER=
DIRGE_SLACK_MODEL=
